.card {
  filter: grayscale(100%);
  border: 1px solid #aaa !important;
  border-radius: 0 !important;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.card:hover {
  filter: none;
  border: 1px solid #444 !important;
}

.progress_container {
  text-align: left;
}
